<div id='header'>
    <a id='header-logo' href='http://google.com'>
        <img src='/assets/Architekt-logo.svg'>
    </a>
    <div id='header-about'>Welcome to our online portfolio, we are a small group of passionate designers and architects looking to change and create amazing digital images. We hope to inspire others to follow in our innovative steps.</div>
</div>