<div class='header'>
    <a class='header-logo' href='/'>
        <img src='/assets/architekt-logo.svg'>
    </a>
    <div class='header-about'>Welcome to our online portfolio, we are a small group of passionate designers and architects looking to change and create amazing digital images. We hope to inspire others to follow in our innovative steps.</div>
    <div class='user-menu'>
        <p>Login</p>
    </div>
</div>