<div class='content'>
  <div class='formpostion'>
    <h1>Login</h1>
    <div class='box' >
      <form class='form' action="/" method="">
        {{#if addImage}}
          <label class="has-float-label">
            <input type="text" name="username" placeholder="JoePhoto" required>
            <span>Username</span>
          </label>
          <label class="has-float-label">
            <input type="text" name="password" placeholder="Enter your pa$$W0rD" required>
            <span>Password</span>
          </label>
          <input type="submit" value="Submit" required>
        {{/if}}
      </form>
    </div>
  </div>
</div>
