
{{> header }} 

<form action="/gallery/new" method="post">
{{#if addImage}}
<label>Title:
    <input type="text" name="title" id="" required>
  </label>
  <label>Author:
    <input type="text" name="author" id="" required>
  </label>
  <label>Link:
    <input type="text" name="link" id="" required>
  </label>
   <label>Description:
    <input type="textarea" name="description" id="" required>
  </label>
  <input type="submit" value="Submit" required>
</form>
{{/if}}

{{> footer }}